<div class= 'container'>
  <div class= 'row'>
    <div class= 'col-md-12'>
      <h1> New Gl Account </h1>
    </div>
  </div>
  <div class= 'row'>
    <div class= 'col-md-2'></div>
    <div class= 'col-md-9'>

      <%= form_with model: GlAccount.new do |f| %>
      <p>
      <%= label(:gl_account, :acc_code, 'Account Code')%>
      <%= f.text_field :acc_code%></p>
      <p>
      <%= label(:gl_account, :acc_parent_code, 'Account Parent Code')%>
      <%= f.text_field :acc_parent_code%></p>
      <p>
      <%= label(:gl_account, :name, 'Account Name')%>
      <%= f.text_field :name %></p>
      <p>
      <%= label(:gl_account, :description, 'Description')%>
      <%= f.text_field :description %></p>
      <p>
      <%= label(:gl_account, :account_type_id, 'Account Type ')%>
      <%= f.text_field :account_type_id %></p>
      <%= f.button %>

      <% end %>


    </div>
  </div>
