<div class= 'container'>
  <div class= 'row'>
    <div class= 'col-md-12'>
      <h1> New Gl Account </h1>
    </div>
  </div>
  <div class= 'row'>
    <div class= 'col-md-2'></div>
    <div class= 'col-md-9'>

    <%= simple_form_for @gl_account do |f|%>
    <%= f.input :account_type_id, selected: 1 %>
    <%= f.input :acc_code, label: 'Account Code' %>
    <%= f.input :acc_parent_code, label: 'Parent Account Code' %>
    <%= f.input :name,label: 'Account Name' %>
    <%= f.input :description, as: :text, label: 'Description'%>
    <%= f.button :submit %>
    <% end %>


    </div>
  </div>
