<h1> Inactive Members<%= @title%> </h1>
<table>
  <th> Nombres </th>
  <th> Apellidos </th>
  <th> Valor</th>
  <th> Tipo de Afiliación</th>
  <th> Nivel</th>
  <th> Activo</th>
  <th> Fecha de Inicio Date</th>
  <th> Fecha de Salida</th>
<%  @members.each do |member| %>

<tr>
  <td><%= member.first_name %></td>
  <td><%= member.last_name %></td>
  <td><%= member.membership_price %></td>
  <td><%= member.membership_type %></td>
<td><%= member.level %></td>
  <td><%= member.is_active %></td>
  <td><%= member.from_date %></td>
  <td><%= member.to_date %></td>
  </tr>
  <% end %>
  </table>
<li> <%= link_to 'Back', members_index_path %></li>
